:root{
    --strongCyan: hsl(171, 66%, 44%);
    --lightBlue: hsl(233, 100%, 69%);
    --darkGrayishBlue: hsl(210, 10%, 33%);
    --grayishBlue: hsl(201, 11%, 66%);

    --paddingContainer: 80px 0;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
}

.container{
    max-inline-size: 75rem;
    inline-size: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--paddingContainer);
}

.hero{
    --padding-continer: 120px 0 80px;
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.hero-img{
    display: block;
    margin: 0 auto;
    margin-block-end: 4.5em;
}

.hero-title{
    color: var(--darkGrayishBlue);
    margin-block-end: 1rem;
}

.hero-paragraph{
    color: var(--grayishBlue);
    margin-block-end: 1rem;
    line-height: 1.5;
}

.buttons{
   margin-block-start: 2.3em;
   display: flex;
   flex-direction: column;
   gap: 2em;
   text-align: center;
}

.buttons-cta{
    background-color: var(--strongCyan);
    color:#fff;
    text-decoration: none;
    border-radius: 2em;
    font-weight: 600;
    padding: 1em 0;
    box-shadow: 0 0 10px -5px var(--strongCyan);
}

.buttons-cta--blue{
    box-shadow: 0 0 10px -5px var(--lightBlue);
    background-color: var(--lightBlue);
}

/* Track */

.track-texts{
    text-align: center;
}

.title{
    color: var(--darkGrayishBlue);
    font-size: 2rem;
}

.paragraph{
    line-height: 1.5;
    color: var(--grayishBlue);
    margin-block-start: 1.5em;
}

.track-img{
    inline-size: 100%;
    display: block;
    max-inline-size: 25rem;
    margin: 0 auto;
    margin-block-start: 3.5em;
}

.track-articles{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3.5em;
    margin-block-start: 2.5em;
}

.track-offer{
    color: var(--darkGrayishBlue);
    font-size: 1.5rem;
}

.track-copy{
    margin-block-start: .7em;
    line-height: 1.5;
    color: var(--grayishBlue);
}

/* Clipboard */

.clipboard{
    text-align: center;
}

.clipboard-picture{
    margin: 3em 0 6em;
}
.clipboard-img{
    inline-size: 100%;
    display: block;
    margin: 0 auto;
    max-inline-size: 25rem;
}

.clipboard-offer{
    margin-block-start: 4em;
    display: flex;
    flex-direction: column;
    gap: 3.5em;
}

.clipboard-icon{
    display: block;
    inline-size: 2.81rem;
    margin: 0 auto;
    margin-block-end: 1.5em;
}

.clipboard-title{
    font-size: 1.5rem;
    color: var(--darkGrayishBlue);
}

.clipboard-paragraph{
    color: var(--grayishBlue);
    line-height: 1.5;
    margin-block-start: 1em;
}

/* Brands */

.brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5em;
}

.action{
    text-align: center;
}